.column.aside{
    background-color: rgb(75, 75, 75);
  }
  .image.profile{
    margin-left: 0.5em;
    margin-top: 0.5em;
  }
  .image.profile img{
    border-radius: 1em;
  }
  .subcontent{
    margin-left: 1em;
    margin-top: 1em;
  }
  .subcontent,.subcontent h3,.subcontent h4{
   
    color: whitesmoke;
  }
  .columns.socialmedia{
    padding-left: 1em; background-color: whitesmoke; margin-bottom: 0.5em; border-radius: 0.25em; margin-top: 2em; margin-left: 2em; margin-right: 2em;
  }
  #navigation{
    margin-right: .75em;
  }
  .maincontent{
    margin: 1em; 
  }
  .blogcontent p{
    padding-bottom: 1.25em;
  }
  .navbar{
    background-color: rgb(235, 235, 235);
  }
  .article{
    padding: 0.5em 0 0.5em 0;
  }

  .mobileaside{
    background-color: rgb(75, 75, 75);
  }
  img+span{
    font-size: 0.80em;
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }
  .resp-image+span{
    font-size: 0.80em;
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }
  @media(min-width: 1024px){
    .mobileaside{
    display:none;
    }
    .columns.socialmedia{
      display:none;
    }
  }
  @media(min-width: 1216px){
    .columns.socialmedia{
      display: flex!important;
    }
    .resp-image{
     display:flex;
     align-items: center;
     padding-left: 7em;
    }
    .resp-image img{
      max-width: 850px;
    }
    
  }
  @media(max-width: 1023px){
    .aside{
      display: none;
    }
    
  }